body{
    margin: 0px;
    overflow: hidden;
}

.jacquarda-bastarda-9-regular {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
  }
  
*{
    font-family:"Jacquarda Bastarda 9", serif;
}

.loadpage{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    background-color:rgb(27, 27, 54);
    height: 100vh;
    width:100vw;
}

.title{
    align-self:center;
    font-size: 5em;
    padding-top:10vw; 
    color:whitesmoke;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-width: 3px;
}

.rocket{
    width: 15vw;
    height: auto;
}

.bed, .emptyBed{
    height: 40vh;
    width: 45vw;
    position:absolute;
    top:60%;
    left: 10%;
}
.emptyBed{
    height: 40vh;
    width: 45vw;
}

.head{
    height: 20vh;
    width:auto;
    position: absolute;
    top: 53%;
    left: 20%;
}

.spaceSuit, .saiyan, .spaceSuit, .defaultClothes, .jedi{
    height: 20vh;
    width:auto;
    position:absolute;
    top: 69.5%;
}

.defaultClothes{
    left:19.75%;
}

.spaceSuit{
    left:40%;
}

.saiyan{
    left:58.5%;
}

.jedi{
    left:78.75%;
}

.begin{
    align-self:center;
    font-size: 4em;
    margin-bottom: 20vw;
    background-color: unset;
    border: 0px;
    color:indianred;
    padding: 2px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color:whitesmoke;
    -webkit-text-stroke-width: 2px;
}

.loadpage span{
    position: absolute;
}

.floor{
    height: 20vh;
    width: 100%;
    background-color: rgb(210, 180, 140);
    position: absolute;
    top:80%;
} 

.bold{
    color:darkturquoise;
}

.wakeUp{
    position: absolute;
    top: 55%;
    left: 65%;
    font-size: 2em;
    color: white;
    padding: .5em;
    background-color: tan;
    border-radius: 25px;
    border: 5px solid white;
}